.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #201e21;
}
/* Setting font styling */
h1,
h2,
h3,
h4,
.button {
  font-family: "East Sea Dokdo", cursive;
  font-weight: lighter;
}

h1 {
  font-size: 12.2rem;
  line-height: 0.6;
  padding: 150px 0;
}
h2 {
  font-size: 7.5rem;
  line-height: 0.7;
}

h3 {
  font-size: 5.5rem;
}

h4 {
  font-size: 4rem;
}

.button {
  font-size: 4.5rem;
}

header {
  position: relative;
}

nav,
p {
  font-family: "Roboto", sans-serif;
  font-size: 1.9rem;
  letter-spacing: 0.2px;
}

nav {
  font-weight: "Medium";
}

nav ul {
  padding: 0;
}

p {
  font-weight: "Regular";
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}

/* Header styling */
.header {
  background-image: url(../images/header-image.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 1px;
}

.header-nav li {
  list-style: none;
  float: left;
  padding: 0 1rem;
}

nav {
  margin: 0;
}

.social-icons {
  position: absolute;
  bottom: 0;
  right: 30px;
}

.social-icons ul {
  list-style: none;
  padding: 0;
}

.social-icons li {
  padding: 10px 0;
}

.social-icons i {
  color: white;
}

/* Main section styling */
/* Setting background colours */
.product,
.extras,
.big-footer {
  background-color: #ffe9e9;
}

.exhibitions,
.brushes,
.paint {
  background-color: #f7dae8;
}

.blue-button {
  background-color: #0178a5;
  color: white;
  padding: 0px 20px;
}

.purple-button {
  background-color: #a7059b;
  color: white;
  padding: 0px 30px;
}

@media (max-width: 800px){
  h1{
    font-size: 10rem;
  }
  h2{
    font-size: 5.5rem;
  }
  h3 {
    font-size: 5rem;
  }
  p, nav{
    font-size: 1.5rem;
  }

  .button{
    font-size: 3.5rem;
  }
}

/* Product section */

.product {
  padding: 100px 0;
}
.product-content,
.product-img {
  float: left;
}

.product-content {
  width: 70%;
}

.product-content h2 {
  margin: 0 auto;
  
}

.product-content p {
  margin: 2% auto;
  display: block;
}

.product-img {
  width: calc(30% - 20px);
  margin-right: 20px;
}

.product-img img {
  display: block;
  margin: 0 auto;
}

/* Product media queries */

@media (max-width: 1000px){
  .product-img{
    width: 100%;
  }

  .product-content{
    width: 100%;
    text-align: left;
    padding: 10%
  }
}


/* Exhibitions styling */

.exhibitions {
  padding: 40px 0;
}
.exhibitions h2 {
  text-align: center;
  margin: 20px auto;
  
}
.exhibitions ul {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
.exhibitions li {
  float: left;
  width: calc((100% / 3) - 20px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.exhibitions ul li:nth-child(3) {
  margin-right: 0;
}

.exhibit-images img {
  display: block;
  width: 100%;
}

/* exhibition media queries */
@media (max-width: 800px){

  .exhibitions ul li {
  width: 50%;
  padding: 5px;
  margin: 0;
  }  

  .exhibitions ul li:nth-child(3){
    width: 100%;
  }
}



/* Extras styling */
.extras {
  padding: 40px 0;
  margin: 0 auto;
}

.extras ul {
  padding: 0;
  list-style: none;
}

.extras li {
  float: left;
  width: calc((100% / 3) - 20px);
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.extras ul li:nth-child(3) {
  margin-right: 0px;
}

.extras li h3 {
  margin: 0;
}

.extras li i {
  color: #0178a5;
}

/* Extras media queries */

@media (max-width: 770px){
  .extras li{
    width: 100%;
  }
}

/* Brushes section styling */

.brushes-content,
.brushes-img {
  float: right;
}

.brushes-content {
  width: 40%;
  margin-left: 10%;
  margin-top: 30px;
  padding-right: 50px;
  /* max-width: 640px; */
}

.brushes-content h2 {
  padding-top: 50px;
  margin: 0px auto;
  
}

.brushes-img {
  width: 50%;
  object-fit: cover;
}

.brushes-img img {
  display: block;
}

/* media queries (brushes) */

@media (min-width: 1550px) {
  .brushes-wrapper {
    max-width: 1550px;
    margin: 0 auto;
  }
}

@media (max-width: 1150px) {
  .brushes-content,
  .brushes-img {
    float: right;
  }

  .brushes-content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-right: 0;
  }
  .brushes-img {
    width: 100%;
    margin: 0 auto;
  }
}

/* Paints styling */

.paint-content,
.paint-img {
  float: left;
}

.paint-content {
  width: calc(50% - 30px);
  margin-left: 30px;
  margin-top: 30px;
  padding-left: 50px;
}

.paint-content h2 {
  margin: 0 auto;
  padding-top: 100px;
  
}

.paint-img {
  width: 50%;
}

.paint-img img {
  display: block;
}

/* media queries (paint) */

@media (min-width: 1550px) {
  .paint-wrapper {
    max-width: 1550px;
    margin: 0 auto;
  }
}

@media (max-width: 1150px) {
  .paint-content,
  .paint-img {
    float: right;
  }

  .paint-content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-left: 0;
  }

  .paint-content h2 {
    padding: 0;
  }
  .paint-img {
    width: 100%;
    text-align: center;
  }
}

/* Footer styling */

footer {
  margin: 0 auto;
}

footer ul {
  list-style: none;
  padding: 0;
}

.big-footer {
  padding: 80px 0;
}

.footer-nav,
.subscribe,
.contact {
  float: left;
}

.footer-nav {
  display: inline-block;
  width: 20%;
}

.footer-nav li {
  list-style: none;
  padding: 0.2rem 0;
}

.footer-nav ul {
  padding: 0;
}

.subscribe {
  width: 53%;
  text-align: center;
}

.subscribe h3 {
  line-height: 0.8;
  margin: 0 auto;
}

.subscribe-button,
.email {
  float: left;
}

.subscribe-button {
  padding: 0;
  height: 60px;
  width: 30%;
  display: block;
}

.email {
  height: 60px;
  text-align: left;
  font-size: 2rem;
  width: 70%;
  display: block;
  padding-left: 30px;
}

.contact {
  width: 27%;
  text-align: right;
}

.contact h4 {
  line-height: 0.8;
  margin: 0 auto;
}

.contact a {
  text-decoration: none;
  color: #201e21;
}

.contact p {
  line-height: 0.8;
}

/* Tablet media Query (footer) */
@media (max-width: 1240px) {
  .footer-nav {
    width: 100%;
  }

  .footer-nav ul {
    text-align: center;
  }

  .footer-nav ul li {
    display: inline-block;
    padding: 0 1rem;
  }

  .subscribe {
    width: 100%;
    padding-top: 50px;
    margin: 0 auto;
  }

  .email {
    text-align: center;
  }

  .contact {
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }
}

/* Phone media query (footer) */
@media (max-width: 670px) {
  form {
    text-align: center;
  }

  .footer-nav ul li{
    float: left;
    width: calc(100% / 4);
    color: blue;
  }

  .email {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
  }
  .subscribe-button {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    float: none;
  } 
  .subscribe{
    /* padding: 20px; */
    width: 100%;
  }

  .wrapper{
    width: 90%;
  }
}

/* Little footer */

.little-footer {
  background-color: #201e21;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 0.1px 0;
}
